
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#ResetPasswordBtn').click(function () {
                // validation for new password
                // following code works too. need ViewData or tempdata to pass error message.
                /*
                if ($('#NewPasswordTextBox').val().length == 0) { // required field validation
                    //debugger;
                    alert("in validation");
                    $('#messageForNewPassword').html("New password required");
                    $('#messageForNewPassword').css('color', 'red');
                }

                // validation for confirm password
                if ($('#ConfirmPasswordTextBox').val().length == 0) { // required field validation
                    $('#messageForConfirmPassword').text("Confirm password required");
                    $('#messageForConfirmPassword').css('color', 'red');
                }
                */
                $('#ResetPasswordForm').validate({
                    rules: {
                        NewPassword: {
                            required: true,
                            minlength: 3,
                            maxlength: 20

                        },

                        ConfirmPassword: {
                            required: true,
                            minlength: 3,
                            maxlength: 20,
                            equalTo: "#NewPasswordTextBox"
                        }


                    },

                    messages: {
                        NewPassword: {
                            required: "New password required",
                            minlength: "Password should be at least 3 character",
                            maxlength: "Password should be at most 20 character"
                        },
                        ConfirmPassword: {
                            required: "Confirm password required",
                            equalTo: "Confirm passowrd not match!"
                        }
                    },
                    errorClass: "myErrorClass"
                });

            });
        });

</script>
}
<div class="Content">
    <form id="ResetPasswordForm" action="ResetPassword" method="post">
        <div class="HeaderLabel"><h3>Please reset password</h3></div>
        <hr />
        <div class="logInfoDiv">
            <table>
                <tr>
                    <td>New Password:</td>
                    <td><input name="NewPassword" id="NewPasswordTextBox" class="form-control" type="text" placeholder="New password" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="messageForNewPassword" style="color:red;"></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input name="ConfirmPassword" id="ConfirmPasswordTextBox" class="form-control" type="text" placeholder="Confirm passowrd" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td id="messageForConfirmPassword"></td>
                </tr>
            </table>
        </div>
        <div class="SubmitDiv">
            <input id="ResetPasswordBtn" class="btn btn-danger btn-block" type="submit" value="Reset Password" />
        </div>
    </form>
    <hr />
    <div class="returnToLogin">
        <a href="../Login/LoginPage">Return to login page</a>
    </div>
</div>