
@{
    ViewBag.Title = "ResetPasswordResult";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section head{
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
}

<div class="Content">
    <div class="logInfoDiv">
        <span class="alert-success">@TempData["Message"]</span>
        <hr />
        <div class="returnToLogin">
            <a href="../Login/LoginPage">Return to login page</a>
        </div>
    </div>
</div>